body
{
	background-image: url("ile.jpg"); 
	background-repeat:no-repeat; 
}

h1
{
	text-align:center;
	font-size:55px;
	font-family:Arial;
	font-style: oblique;
}

h2
{
	position:absolute;
	left:350px; 
	top:320px;
	
	text-align:center;
	text-decoration: underline;
	font-family:Verdana;
	font-size:34px;
	
}

.inscription
{
	font-family:Unbuntu;
	font-size:24px;
	color:#660000;
	text-decoration:none;
	
	position:absolute;
	left:15%;
	bottom:5%;
}

.questionnaire
{
	font-family:Unbuntu;
	font-size:24px;
	color:#660000;
	text-decoration:none;
	
	position:absolute;
	right:15%;
	bottom:5%;
}